{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Produtos{% endif %}
{% endblock %}

{% block content %}  
    <div class="container">

        <div class="row">

            <div class="col-md-5">
                <p class="lead">Categorias</p>
                <div class="list-group">
                    <a href="{% url "shop:product_list" %}" {% if not category %}class="list-group-item active selected"{% endif %} class="list-group-item active">Todas</a>
                    {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" {% if category.slug == c.slug %}class="selected list-group-item" {% endif %} class="list-group-item">{{ c.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-5" style="">
            	<h1>{% if category %}{{ category.name }}{% else %}Todos os produtos{% endif %}</h1>

                <div class="thumbnail">
                	{% for product in products %}
                	<a href="{{ product.get_absolute_url }}">
                    <img class="img-responsive mx-auto" src="{% if product.image %}{{ product.image.url }}{% else %}
												{% static "img/no_image.png" %}{% endif %}">
									</a>
                    <div class="caption-full">
                        <h4 class="pull-right">R$ {{ product.price }}</h4>
                        <h4><a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </h4>
                    <hr>
                    {% endfor %}
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}